:root {
    --main-color: #0a192f;
    --secondary-color:#ccd6f6;
    --light-font: #8892b0;
    --contrast-color: #64ffda;
    --project-bg:  #112240;
    --main-font: 'Noto Sans', sans-serif;
    --secondary-font: 'Share Tech', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--main-color);
}
/* All containers */
.container {
    transition: 0.25s ease-in-out;
}

header {
    height: 8vh;
    /* background-color: var(--main-color); */
    background-color: #0a192ff8;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 1;
    transition: all 0.35s;
    border-bottom: 0.5px solid #ccd6f663;
}
header a {
    align-self: center;
}
header img {
    height: 100%;
    width: 200px;
    transform: scale(1);
    transition: 0.35s ease-in-out;
    margin-right: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
}
header img:hover {
    transform: scale(1.05);
}

@media (max-width: 375px) {
    header img {
        margin: 0;
        height: 80%;
        width: 180px;
    }
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    align-self: center;
    margin-right: 0.5rem;
}
.menu-btn_burger {
    width: 30px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: row-reverse;
}
/* Top and bottom line of menu btn, currrently positioned with center line */
/* .menu-btn_burger::before, 
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
} */
.menu-btn_burger::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
/* Pushes the top line UP 16px */
.menu-btn_burger::before {
    transform: translateY(-10px);
}
/* Pushes the bottom line DOWN 16px */
.menu-btn_burger::after {
    transform: translateY(10px);
}


/* ANIMATION */
/* 
Horizontal Menu -50px 
Sets the background to NONE on the middle line
*/
/* .menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
} */

/* SideNav x Button */
.x-btn {
    /* border: 2px solid pink; */
    display: flex;
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
    left: 25px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.x-btn:hover {
    transform: scale(1.2);
}
.x-btn-inner {
    cursor: pointer;
    align-self: center;
}
.x-btn-inner::after,
.x-btn-inner::before {
    background: var(--contrast-color);
    content: '';
    width: 25px;
    height: 3px;
    position: absolute;
}
.x-btn-inner::before {
    /* transform: rotate(45deg) translate(35px, -35px); */
    transform: rotate(45deg) 
}
.x-btn-inner::after {
    /* transform: rotate(-45deg) translate(35px, 35px); */
    transform: rotate(-45deg) 
}

/* sidenav menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: -1px; 
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.sidenav-inner {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.sidenav-inner a {
    padding: 25px 20px;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--secondary-color);
    display: block;
    transition: color 0.35s ease-in-out;
    font-family: var(--secondary-font);
}
.sidenav-inner ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.sidenav-inner ul li {
    text-align: left;
}
.sidenav-inner a:hover {
    color: var(--contrast-color);
}
.sidenav-inner a span {
    padding: 1rem;
}
.sidenav-inner a span i {
    height: 25px;
    width: 25px;
}

/* Navigation larger screens */
.mainNav {
    height: 100%;
    width: 600px;
    display: none;
}
.mainNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.mainNav ul li {
    display: inline-block;
}
.mainNav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    transform: scale(1);
    letter-spacing: 1px;
    /* font-family: var(--secondary-font); */
}
.mainNav a:hover {
    color: var(--contrast-color);
    transform: scale(1.2);
}
.cool-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .35s;
    background: var(--contrast-color);
}
.cool-link:hover::after {
    width: 100%;
    transition: width 0.35s;
}

/* Media Query */
@media (min-width: 800px) {
    header img {
        margin-left: 1rem;
    }
    .menu-btn {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .mainNav {
        display: flex;
    }
    .header {
        filter: none;
    }
}

/* Hero Container */
.hero-container {
    height: 90vh;
}
.hero-container-inner {
    border: 2px solid pink;
    max-width: 900px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;
}
.hero-container h3 {
    color:  var(--contrast-color);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
}
.hero-container .name {
    color: var(--secondary-color);
    letter-spacing: 2px;
}
.hero-container h1 {
    color: var(--light-font);
    padding: 1rem 0;
    font-size: 3rem;
}
.hero-container p {
    color: var(--light-font);
    max-width: 600px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-top: 1rem;
}
.hero-btn {
    padding: 20px 15px;
    background: none;
    border: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 2.5rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.05rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-family: var(--secondary-font);
}
.hero-btn:hover {
    background-color: rgba(109,224,192, 0.15);
}

@media (max-width: 375px) {
}

@media (min-width: 600px) {
    .hero-container-inner {
        width: 75%;
    }
    .hero-container .name {
        font-size: 4rem;
    }
}

@media (min-width: 800px) {
    .hero-container .name {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) {
    .hero-container-inner {
        padding-left: 100px;
    }
}

/* About Section */
.about-container {
    padding: 2rem;
}
.about-container-inner {
    border: 2px solid pink;
    max-width: 900px;
    margin: 0 auto;
}
.about-container-inner h3 {
    color: var(--secondary-color);
    font-size: 2.5rem;
}
.about-container-inner p {
    margin-top: 2rem;
    color: var(--secondary-color);
    color: var(--light-font);
    letter-spacing: 1px;
    line-height: 1.5;
}
.about-container-inner p span {
    color: var(--contrast-color);
}
.about-container-inner ul {
    color: var(--secondary-color);
    list-style: none;
    margin-top: 1rem;
}
.about-container-inner ul li {
    padding: 0.5rem 0;
    color: var(--light-font);
    font-family: var(--secondary-font);
    font-size: 1.05rem;
    letter-spacing: 1px;
}
.about-container-inner ul li i {
    color: var(--contrast-color);
}
.img-container {
    width: 300px;
    height: 400px;
    border: 2px solid var(--contrast-color);
    margin: 7rem auto 3rem auto;
    position: relative;
    border-radius: 0.5rem;
    transform: scale(1);
    transition: transform 0.35s ease-in-out;
}
.img-container:hover {
    transform: scale(1.05);
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.35s ease-in-out;
    position: absolute;
    transform: translateX(-15px);
    top: -15px;
    filter: grayscale(100%);
}
.image:hover {
    filter: initial;
}
/* Speech Bubble */
.box {
    width: 150px;
    margin: 50px auto;
    border: 2px solid var(--contrast-color);
    border-radius: 0.5rem;
    padding: 15px;
    text-align: center;
    font-weight: 900;
    color: var(--light-font);
    position: absolute;
    top: -150px;
    left: 120px;
}
.speech-bubble {
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    font-size: 1.05rem;
}
.speech-bubble:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid var(--contrast-color);
    border-top: 8px solid var(--contrast-color);
    border-bottom: 8px solid transparent;
    right: 22px;
    bottom: -18px;
}
.speech-bubble:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid var(--main-color);
    border-top:  8px solid var(--main-color);
    border-bottom: 8px solid transparent;
    right: 24px;
    bottom: -13px;
}

@media (max-width: 375px) {
    .about-container {
        padding: 1.5rem;
    }
    .img-container {
        margin-left: 1rem;
    }
}

@media (min-width: 820px) {
    .about-container-inner {
        padding-top: 5%;
        display: grid;
        grid-template: 100px 1fr  / 400px 1fr ;
        grid-template-areas : 
            "header header"
            "sidebar image"
            "sidebar2 image"
    }
    .about-container-inner h3 {
        grid-area: header;
        font-size: 3rem;
        border: 1px solid pink;
        align-self: center;
    }
    .info-container {
        grid-area: sidebar;
        border: 1px solid pink;
    }
    .skills-list {
        grid-area: sidebar2;
    }
    .img-container {
        grid-area: image;
        top: -90px;
    }
}

/* Skills Container */
.skills-container {
    /* border: 2px solid pink; */
    padding: 2rem;
}
.skills-container-inner {
    max-width: 900px;
    margin: 0 auto;
    border: 2px solid pink;
}
.skills-header {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2rem;
}
.skills-card {
    /* border: 2px solid pink; */
    height: 200px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
}
.skills-card-top-1 {
    width: 40%;
    background: url('../images/card1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 350ms ease-in-out;
}
.skills-card-top-2 {
    width: 40%;
    background: url('../images/card2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 350ms ease-in-out;
}
.skills-card-top-3 {
    width: 40%;
    background: url('../images/card3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 350ms ease-in-out;
}
.skills-card-top-1:hover,
.skills-card-top-2:hover,
.skills-card-top-3:hover {
    filter: none;
}

.skills-card-bottom {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color:var(--project-bg);
}
.skills-card-bottom h3 {
    font-size: 1.75rem;
    align-self: center;
    letter-spacing: 1px;
    /* border: 1px solid pink; */
    padding: 0.5rem;
    /* background-color: var(--main-color); */
    color: var(--contrast-color);
}
.skills-card-bottom p {
    font-size: 1.25rem;
    /* border: 1px solid pink; */
    color: var(--light-font);
    width: 50%;
    margin: 0.25rem auto;
    text-align: center;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
}

@media (min-width: 800px) {
    .skills-container-inner {
        display: flex;
        justify-content: space-between;
    }
    .skills-card {
        width: 30%;
        height: 450px;
        flex-direction: column;
    }
    .skills-card-top-1,
    .skills-card-top-2,
    .skills-card-top-3 {
        height: 40%;
        width: 100%;
        background-position: 0 100;
    }
    .skills-card-bottom {
        height: 60%;
        width: 100%;
        justify-content: start;
    }
    .skills-card-bottom h3 {
        margin-top: 1rem;
    }
    .skills-card-bottom p {
        margin-top: 1rem;
    }
}


















.projects-container {
    padding: 2em;
}
.projects-container-inner {
    border: 2px solid pink;
    max-width: 900px;
    margin: 0 auto;
}
.projects-container-inner h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.project {
    margin: 1rem auto;
    padding: 1rem;
    background-color: var(--project-bg);
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
}
.project:hover {
    transform: translateY(-5px);
}
.project-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.project-inner h1 i {
    color: var(--contrast-color);
    margin-bottom: 1rem;
}
.links {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-content: center;
}
.links a i {
    align-self: center;
    font-size: 1.5rem;
}
.links a i {
    color: var(--secondary-color);
    transition: color 0.35s ease-in-out;
}
.links a i:hover {
    color: var(--contrast-color);
}
.project h2 {
    color: var(--secondary-color);
    font-weight: 500;
}
.project p {
    line-height: 1.4;
    letter-spacing: 1px;
    margin: 2rem 0;
}
.project-info {
    color: var(--light-font);
    font-size: 0.9rem;
    padding: 0 0 1rem 0;
}
.tech-stack {
    color: var(--light-font);
    font-size: 0.8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: var(--secondary-font);
}

@media (min-width: 630px) {
    .projects-container-inner {
        padding-top: 5%;
        display: grid;
        grid-template: 75px 1fr / 1fr 1fr;
        grid-template-areas: 
        "header header"
        "content content" ;
        grid-gap: 0.5rem;
    }
    .projects-container-inner .project-header {
        grid-area: header;
        font-size: 2.3rem;
    }
    .project {
        margin: 0.5rem;
    }
    .links a i{
        margin: 0.25rem;
    }
}

@media (max-width: 375px) {
    .projects-container {
        padding: 1.5rem;
    }
    .links a i {
        margin-right: 1rem;
    }
}

@media (min-width: 965px) {
    .projects-container-inner {
        display: grid;
        grid-template: 100px 1fr / 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "content content content" ;
    }
    .projects-container-inner .project-header {
        grid-area: header;
        font-size: 3rem;
    }
}


/* Contact container */
.contact-container { 
    padding: 2rem;
    margin-top: 5rem;
}
.contact-container-inner {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 3rem auto;
}
.contact-container-inner h1 {
    font-size: 2rem;
    color: var(--secondary-color);
    text-align: center;
    margin: 0;
    letter-spacing: 1.5px;
}
.contact-container-inner p {
    color: var(--light-font);
    text-align: center;
    line-height: 1.5;
    margin: 2rem;
    letter-spacing: 2px;
}
.contact-container-inner a {
    padding: 20px 15px;
    background: none;
    border: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition: all 0.3s ease-in-out;
    font-size: 1.05rem;
    letter-spacing: 1px;
    align-self: center;
    margin: 2rem;
    text-decoration: none;
    text-align: center;
    font-family: var(--secondary-font);
}
.contact-container-inner a:hover {
    background-color: rgba(109,224,192, 0.15);
}
@media (min-width: 630px) {
    .contact-container-inner {
        max-width: 630px;
    }
    .contact-container-inner h1 {
        font-size: 2.5rem;
    }
}
@media (min-width: 965px) {
    .contact-container-inner h1 {
        font-size: 3rem;
    }
}

/* Social Contacts Container */
.social-container {
    max-width: 400px;
    margin: 0 auto 5rem auto;
}
.social-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-container ul li{
    font-size: 2rem;
    transform: scale(1);
    transition: 0.35s ease-in-out;
}
.social-container ul li:hover {
    transform: scale(1.2);
}
.social-container ul li a {
    color: var(--light-font);
    transition: 0.35s ease-in-out;
}
.social-container ul li a:hover {
    color: var(--contrast-color);
}

@media (max-width: 375px) {
    .social-container {
        max-width: 80%;
    }
}

.credit {
    max-width: 400px;
    margin: 0 auto 3rem auto;
    text-align: center;
}
.credit p {
    color: var(--light-font);
    padding: 0.5rem;
}
.credit .designed {
    font-size: 1rem;
    color: var(--secondary-color);
}
.credit .inspiration {
    font-size: 0.7rem;
}