:root {
    --main-color: #0a192f;
    --secondary-color:#ccd6f6;
    --light-font: #8892b0;
    --contrast-color: #64ffda;
    --project-bg:  #112240;
    --box-shadow: 3px 3px 5px rgb(1, 1, 32);
    --main-font: 'Noto Sans', sans-serif;
    --secondary-font: 'Share Tech', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--main-color);
}
/* All containers */
.container {
    transition: 0.25s ease-in-out;
}

header {
    /* height: 8vh; */
    height: 80px;
    /* background-color: var(--main-color); */
    background-color: #0a192ff8;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 1;
    transition: all 0.35s;
    border-bottom: 0.5px solid #ccd6f663;
}
header a {
    align-self: center;
}

header img {
    height: 70px;
    width: 280px;
    cursor: pointer;
}


/* @media (max-width: 375px) {
    header img {
        margin: 0;
        height: 80%;
        width: 250px;
    }
} */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    align-self: center;
    margin-right: 0.5rem;
}
.menu-btn_burger {
    width: 30px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: row-reverse;
}

.menu-btn_burger::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--contrast-color);
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
/* Pushes the top line UP 16px */
.menu-btn_burger::before {
    transform: translateY(-10px);
}
/* Pushes the bottom line DOWN 16px */
.menu-btn_burger::after {
    transform: translateY(10px);
}

/* SideNav x Button */
.x-btn {
    display: flex;
    height: 35px;
    width: 35px;
    position: relative;
    cursor: pointer;
    left: 25px;
    transform: scale(1);
    transition: 0.5s ease-in-out;
}
.x-btn:hover {
    transform: scale(1.2);
}
.x-btn-inner {
    cursor: pointer;
    align-self: center;
}
.x-btn-inner::after,
.x-btn-inner::before {
    background: var(--contrast-color);
    content: '';
    width: 25px;
    height: 3px;
    position: absolute;
}
.x-btn-inner::before {
    transform: rotate(45deg) 
}
.x-btn-inner::after {
    transform: rotate(-45deg) 
}

/* sidenav menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: -1px; 
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.sidenav-inner {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.sidenav-inner a {
    padding: 25px 20px;
    text-decoration: none;
    font-size: 1.25rem;
    color: var(--secondary-color);
    display: block;
    transition: color 0.35s ease-in-out;
    font-family: var(--secondary-font);
}
.sidenav-inner ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    /* border: 1px solid pink; */
    width: 100%;
}
.sidenav-inner ul li {
    /* border: 1px solid pink; */
    text-align: center;
}
.sidenav-inner a:hover {
    color: var(--contrast-color);
}
.sidenav-inner a {
    /* border: 1px solid green; */
    padding: 1rem;
    width: 100%;
}
.sidenav-inner a span i {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
}

@media (min-width: 450px) {
    .sidenav-inner ul li a {
        font-size: 1.5rem;
    }
}

/* Navigation larger screens */
.mainNav {
    height: 100%;
    width: 600px;
    display: none;
}
.mainNav ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.mainNav ul li {
    display: inline-block;
}
.mainNav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    display: inline-block;
    transition: all 0.35s ease-in-out;
    transform: scale(1);
    letter-spacing: 1px;
    cursor: pointer;
}
.mainNav a:hover {
    color: var(--contrast-color);
    transform: scale(1.2);
}
.cool-link:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition: width .35s;
    background: var(--contrast-color);
}
.cool-link:hover::after {
    width: 100%;
    transition: width 0.35s;
}

/* Media Query */
@media (min-width: 800px) {
    header img {
        margin-left: 1rem;
    }
    .menu-btn {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .mainNav {
        display: flex;
    }
    .header {
        filter: none;
    }
}

/* Hero Container */
.hero-container {
    height: 90vh;
}
.hero-container-inner {
    max-width: 900px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1.5rem;
}
.hero-container h3 {
    color:  var(--contrast-color);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
}
.hero-container .name {
    color: var(--secondary-color);
    letter-spacing: 2px;
}
.hero-container h1 {
    color: var(--light-font);
    padding: 1rem 0;
    font-size: 3rem;
}
.hero-container p {
    color: var(--light-font);
    max-width: 600px;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-top: 1rem;
}
.hero-btn {
    padding: 20px 15px;
    background: none;
    border: 1px solid var(--contrast-color);
    color: var(--contrast-color);
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    margin-top: 2.5rem;
    transition: all 0.3s ease-in-out;
    font-size: 1.05rem;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    font-family: var(--secondary-font);
}
.hero-btn:hover {
    background-color: rgba(109,224,192, 0.15);
}

@media (max-width: 320px) {
    .hero-container-inner {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    .hero-container-inner {
        padding-top: 10rem;
    }
}

@media (min-width: 600px) {
    .hero-container-inner {
        width: 75%;
    }
    .hero-container .name {
        font-size: 4rem;
    }
}

@media (min-width: 800px) {
    .hero-container .name {
        font-size: 5rem;
    }
}

@media (min-width: 1200px) {
    .hero-container-inner {
        padding-left: 100px;
    }
}

/* About Section */
.about-container {
    padding: 2rem;
    /* border: 1px solid pink; */
}
.about-container-inner {
    max-width: 1135px;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.about-container-inner h3 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.about-container-inner p {
    margin-top: 2rem;
    color: var(--light-font);
    letter-spacing: 1px;
    line-height: 1.5;
}
.about-container-inner p span {
    color: var(--contrast-color);
    font-family: var(--secondary-font);
}
.about-container-inner p a {
    color: var(--contrast-color);
    text-decoration: none;
    font-family: var(--secondary-font);
}

.img-container {
    width: 300px;
    height: 420px;
    border: 2px solid var(--contrast-color);
    margin: 7rem auto 3rem auto;
    position: relative;
    border-radius: 0.5rem;
    transform: scale(1);
    transition: transform 0.35s ease-in-out;
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: all 0.35s ease-in-out;
    position: absolute;
    transform: translateX(-15px);
    top: -15px;
    filter: grayscale(100%);
    cursor: pointer;
}
.image:hover {
    filter: initial;
}


@media (max-width: 375px) {
    .about-container {
        padding: 1.5rem;
    }
    .img-container {
        margin-left: 1rem;
    }
}

@media (min-width: 820px) {
    .about-container-inner {
        padding-top: 2%;
        display: flex;
    }
    .about-container-inner h3 {
        font-size: 3rem;
    }
    .info-container {
        width: 55%;
        /* border: 1px solid pink; */
        padding-left: 1rem;
    }
    .img-container {
        height: 550px;
        width: 400px;
        position: relative;
        top: -90px;
        right: -20px;
    }
}

/* Skills Container */
.skills-container {
    /* border: 2px solid pink; */
    padding: 2rem;
    margin-bottom: 150px;
}
.skills-container-inner {
    max-width: 1135px;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.skills-header {
    color: var(--secondary-color);
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.skills-card {
    /* border: 2px solid pink; */
    height: 250px;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    box-shadow: var(--box-shadow);
    transition: all 0.25s ease-in-out;
}
.skills-card-top-1 {
    width: 40%;
    background: url('../images/react.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(100%); */
    transition: 350ms ease-in-out;
}
.skills-card-top-2 {
    width: 40%;
    background: url('../images/database.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(100%); */
    transition: 350ms ease-in-out;
}
.skills-card-top-3 {
    width: 40%;
    background: url('../images/server_.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: grayscale(100%); */
    transition: 350ms ease-in-out;
}

.skills-card-bottom {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color:var(--project-bg);
}
.skills-card-bottom h3 {
    font-size: 1.5rem;
    align-self: center;
    letter-spacing: 1px;
    padding: 0.5rem;
}
.skills-card-bottom p {
    font-size: 1rem;
    /* border: 1px solid pink; */
    color: var(--light-font);
    width: 50%;
    margin: 0.25rem auto;
    text-align: center;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
}

@media (min-width: 540px) {
    .skills-card-bottom h3 {
        font-size: 1.6rem;
    }
    .skills-card-bottom p {
        font-size: 1.25rem;
    }
}

@media (min-width: 800px) {
    .skills-card {
        max-width: 800px;
    }
}

@media (min-width: 965px) {
    .skills-header {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
        .skills-card.one {
        /* border: 1px solid pink; */
        margin-right: 320px;
    }
    .skills-card.three {
        margin-left: 320px;
        /* border: 1px solid pink; */
    }
}


.projects-container {
    padding: 2em;
    /* border: 1px solid white; */
}
.projects-container-inner {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.projects-container-inner h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 1px;
}

/* Recent Project Container */
.recent-projects-container {
    max-width: 1200px;
    margin: 0 auto;
}
.project-card {
    height: 590px;
    width: 350px;
    /* width: 300px; */
    margin: 2rem auto;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background:var(--project-bg);
    box-shadow: var(--box-shadow);
}

@media (max-width: 375px) {
    .project-card {
        width: 300px;
    }
    .project-tech-stack,
    .project-card-title,
    .project-card-content
    {
        padding: 0px 1rem;
    }

}

.project-card-img {
    overflow: hidden;
}
.project-card-img img {
    width: 100%;
    height: 262px;
    transform: scale(1);
    transition: transform 350ms ease;
    filter: grayscale(100%);
}
.project-card-img img:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}
.project-tech-stack {
    /* border: 1px solid white; */
    width: 300px;
    color: var(--light-font);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.project-tech-stack p {
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    line-height: 1.5;
}
.project-tech-stack a {
    text-decoration: none;
    color: var(--light-font);
    font-size: 1.5rem;
}
.project-card-title {
    /* border: 1px solid white; */
    width: 300px;
    margin-top: 1rem;
    font-size: 1.25rem;
}
.project-card-content {
    /* border: 1px solid white; */
    width: 300px;
    color: var(--light-font);
    line-height: 1.5;
    margin-top: 1rem;
    font-size: 0.85rem;
}
.project-card-button {
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid var(--contrast-color);
    text-decoration: none;
    color: var(--contrast-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    font-family: var(--secondary-font);
    transition: all 0.3s ease-in-out;
    background: var(--main-color);
}
.project-card-button:hover {
    background-color: rgba(109,224,192, 0.15);
}
@media (min-width: 720px) {
    .recent-projects-container {
            display: grid;
            grid-template: 600px 600px / 360px 360px;
            justify-content: center;
            grid-gap: 20px;
    }
    .projects-container-inner .project-header {
        font-size: 2.3rem;
    }
    .project-card {
        margin: 0 auto;
    }
}
@media (min-width: 1200px) {
    .recent-projects-container {
        grid-template: 600px 600px / 360px 360px 360px;
    }
    .projects-container-inner .project-header {
        font-size: 3rem;
    }
}



/* Contact container */
.contact-container { 
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.contact-container-inner {
    display: flex;
    flex-direction: column;
    /* max-width: 1135px; */
    max-width: 1100px;
    margin: 3rem auto;
    /* border: 2px solid pink; */
    background: var(--project-bg);
    box-shadow: var(--box-shadow);
}
.contact-container h1 {
    font-size: 2.5rem;
    color: var(--secondary-color);
    text-align: center;
    margin: 0;
    letter-spacing: 1.5px;
}


/* Contact Form */
.contact-form {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.contact-form input,
.contact-form textarea  {
    background: var(--main-color);
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1rem;
    border: none;
    outline: none;
    letter-spacing: 1px;
    /* resize: none; */
    margin-bottom: 0.5rem;
    /* border-bottom: 1px solid var(--secondary-color); */
}
.contact-form textarea {
    resize: none;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder
{
    letter-spacing: 1px;
}

.contact-form .submit-btn {
    margin-top: 1rem;
    color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.contact-form .submit-btn:hover {
    background-color: rgba(109,224,192, 0.15);
}

.contact-info {
    /* border: 1px solid pink; */
}
.contact-card {
    /* border: 1px solid green; */
    background:var(--main-color);
    color: var(--secondary-color);
    position: absolute;
    left: 0;
    right: 0;
    margin: 50px auto;
    width: 350px;
    text-align: center;
}
.contact-card p {
    /* border: 1px solid white; */
    line-height: 2;
}

.contact-svg {
    display: none;
}

/* Successful message  */
.success-message {
    border: 1px solid var(--contrast-color);
    display: none;
    border-radius: 0.5rem;
}
.success-message.active {
    display: flex;
}
.success-message .check {
    /* border: 2px solid white; */
    width: 10%;
    align-self: center;
    text-align: center;
    font-size: 2rem;
    color: var(--contrast-color);
}
.success-message .check i {
    transform: scale(1);
    transition: 350ms ease-in-out;
    margin-left: 1rem;
}
.success-message .check i:hover {
    transform: scale(1.1);
}
.message-container {
    /* border: 2px solid black; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-container p {
    font-weight: 900;
    margin: 0 0 0 1rem;
    color: var(--secondary-color);
    font-family: var(--secondary-font);
}
.message-container i {
    font-size: 1.75rem;
    /* color: var(--contrast-color); */
    color: var(--secondary-color);
    margin-right: 1rem;
    cursor: pointer;
}

@media (min-width: 900px) {
    .contact-container-inner {
        /* border: 1px solid white; */
        display: grid;
        grid-template:  400px / 1fr 1fr;
        grid-template-areas: 
            "form svg";
        justify-content: center;
        position: relative;
    }
    .contact-container h1 {
        grid-area: title;
    }
    .contact-form {
        grid-area: form;
    }
    .contact-info {
        grid-area: svg;
        /* border: 1px solid pink; */
        position: relative;
    }
    .contact-svg {
        display: initial;
        grid-area: svg;
        width: 500px;
        height: 100%;
    }
    .contact-card {
        /* position: static; */
    }
}



/* Social Contacts Container */
.social-container {
    max-width: 400px;
    margin: 0 auto 5rem auto;
}
.social-container ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.social-container ul li{
    font-size: 2rem;
    transform: scale(1);
    transition: 0.35s ease-in-out;
}
.social-container ul li:hover {
    transform: scale(1.2);
}
.social-container ul li a {
    color: var(--light-font);
    transition: 0.35s ease-in-out;
}
.social-container ul li a:hover {
    color: var(--contrast-color);
}

@media (max-width: 375px) {
    .social-container {
        max-width: 80%;
    }
}

.credit {
    max-width: 400px;
    margin: 0 auto 3rem auto;
    text-align: center;
}
.credit p {
    color: var(--light-font);
    padding: 0.5rem;
}
.credit .designed {
    font-size: 1rem;
    color: var(--secondary-color);
}
.credit .inspiration {
    font-size: 0.7rem;
}


.gif-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gif-container .gif {
    width: 50%;
    height: 50%;
}
